.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form labels */
label {
  font-weight: bold;
}

/* Form inputs */
input[type="text"],
input[type="number"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.error-container {
  /* margin-top: 8px; */
  color: red;
  font-size: 14px;
}

.submitBtn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.submitBtn:disabled {
  background: #9ac38e;
  cursor: default;
}

.updateBtn:disabled {
  background: #8e9ec3;
  cursor: default;
}

.updateBtn {
  padding: 10px 20px;
  background-color: #4075e8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}